/*
* Copyright by Alexander Afanasyev
* E-mail: blackbirdeagle@mail.ru
* Skype: al_sidorenko1
* */
@font-face
{
	font-family: 'CirceRegular';
	src: url(../fonts/Circe-Regular.eot);
	src: url(../fonts/Circe-Regular.eot?iefix) format('eot'),url(../fonts/Circe-Regular.woff) format('woff'),url(../fonts/Circe-Regular.ttf) format('truetype'),url(../fonts/Circe-Regular.svg#webfont) format('svg');
}

*
{
	font-family: CirceRegular;
	margin: 0;
	padding: 0;
	text-shadow: none;
}
img
{
	border: 0;
}
input:focus,textarea:focus
{
	outline: 0;
}
p,ul li
{
	font-size: 18px;
}
ul li
{
	margin-left: 20px;
}
p
{
	margin-bottom: 0;
	text-align: justify;
	/*text-indent: 20px;*/
}
.header
{
	padding: 20px 0;
}
.img_vopros img,.logo img
{
	width: 100%;
}
.exam_voprosy,.voprosy
{
	list-style: none;
	overflow: hidden;
}
.voprosy li
{
	float: left;
	margin-bottom: 3px;
	margin-left: 0!important;
}
.exam_voprosy li a,.voprosy li a
{
	border: 1px solid #000;
	display: block;
	height: 27px;
	margin-right: 3px;
	pointer-events: none;
	text-align: center;
	text-decoration: none;
	width: 32px;
}
.voprosy li a
{
	background-color: #7397da;
	color: #fff;
	padding-top: 1px;
}
.voprosy li a.select
{
	background-color: #fff;
	color: #000;
}
.voprosy li a.error
{
	background-color: #ff5129;
	color: #fff;
}
.voprosy li a.correct
{
	background-color: #1ddc10;
	color: #fff;
}
.exam_voprosy li
{
	float: left;
	margin-bottom: 3px;
	margin-left: 0;
}
.exam_voprosy li a
{
	padding-top: 3px;
}
.exam_voprosy li a.select
{
	background-color: #fff;
	color: #000;
}
.exam_voprosy li a.error
{
	background-color: #ff5129;
	color: #fff;
}
.exam_voprosy li a.correct
{
	background-color: #1ddc10;
	color: #fff;
}
.exam_variants,.variants
{
	margin-left: 18px;
}
.variants li
{
	font-size: 18px;
}
.errors li span,.exam_variants li span,.variants li span
{
	font-size: 18px;
	padding: 5px;
}
.variants li.neverno span,.variants li.verno span
{
	background-color: #1ddc10;
	color: #fff;
	display: block;
	width: 100%;
}
.variants li.neverno span
{
	background-color: #ff5129;
}
.exam_variants li,.variants li
{
	cursor: pointer;
	margin: 10px 0;
}
.exam_variants li.neverno span,.exam_variants li.verno span
{
	background-color: #1ddc10;
	color: #fff;
	display: block;
	width: 100%;
}
.exam_variants li.neverno span
{
	background-color: #ff5129;
}
.errors
{
	margin-left: 14px;
	margin-top: 5px;
}
.errors li
{
	cursor: pointer;
	font-size: 18px;
}
.errors li.neverno span,.errors li.verno span
{
	background-color: #1ddc10;
	color: #fff;
	display: block;
	width: 100%;
}
.errors li.neverno span
{
	background-color: #ff5129;
}
.vopros_item
{
	margin-bottom: 40px;
}
.comment
{
	background-color: #eee;
	border-radius: 5px;
	font-size: 18px;
	margin-top: 20px;
	padding: 10px;
}
.comment span,.exam_voprosy li a,.sidebar_menu li a
{
	background-color: #7397da;
	color: #fff;
}
.comment span
{
	border-radius: 3px;
	cursor: pointer;
	padding: 3px;
}
.comment img
{
	height: 50px;
	margin-bottom: 5px;
}
.b_v,.c_errors,.name_vopros
{
	margin-bottom: 10px;
}
.b_v,.name_vopros
{
	font-weight: 700;
}
.name_vopros
{
	font-size: 18px;
}
.b_v
{
	border-bottom: 1px solid #ff5129;
	color: var(--red);
}
.img_vopros
{
	border: 1px solid #000;
	padding: 3px;
}
.sidebar_menu
{
	list-style: none;
}
.sidebar_menu li a
{
	border-bottom: 1px solid #fff;
	display: block;
	font-size: 16px;
	padding: 5px;
}
.sidebar_menu li a:hover
{
	background-color: #999;
	text-decoration: none;
}
.sidebar_menu li.active a
{
	background-color: #999;
}
.queryLabel
{
	font-weight: 700;
	margin-bottom: 10px;
}
.punkt_pravil
{
	background: rgba(35,82,122,.09);
	border: 1px solid #999;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 15px;
}
.punkt_pravil ul
{
	margin-left: 0!important;
}
.punkt_pravil img
{
	height: 50px;
	margin-right: 10px;
}
.punkt_pravil p
{
	margin-bottom: 20px;
}
.punkt_pravil table
{
	border: 1px solid #000;
	width: 100%;
}
.punkt_pravil table tr
{
	border-bottom: 1px solid #000;
}
.punkt_pravil table tr td,.punkt_pravil table tr th
{
	font-size: 16px;
	padding: 10px;
}
.overlay,.popup
{
	display: none;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.overlay
{
	height: 100%;
}
.popup
{
	background: #fff;
	border: 3px solid #337ab7;
	box-shadow: 0 8px 20px rgba(0,0,0,.4);
	color: #000;
	left: 100px;
	max-width: 800px;
	top: 100px;
}
.popup .close2
{
	position: absolute;
	right: -13px;
	top: -13px;
}
.content_popup
{
	height: 100%;
	max-height: 400px;
	overflow-y: scroll;
	padding: 10px;
}
.content_popup img
{
	height: 50px;
	margin-bottom: 10px;
}
.mobile_menu_float
{
	margin-bottom: 10px;
	text-transform: uppercase;
}
.mobile_menu_nv
{
	width: 190px!important;
}
.menu_div
{
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	padding: 10px;
}
.menu_div a
{
	display: block;
}
.mobile_menu_float,.show_menu
{
	display: none;
	width: 150px;
}
.show_menu
{
	border: 1px solid;
	position: fixed;
	right: 6px;
	top: 6px;
	width: 50px;
	z-index: 990;
}
.show_menu img
{
	width: 100%;
}
.footer
{
	padding: 40px 0;
}
.price_table
{
	border: 1px solid #cecece;
}
.table_head
{
	background-color: #f3f3f3;
}
.table_col
{
	border-bottom: 1px solid #cecece;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 16px;
	padding-top: 16px;
}
.col_head
{
	font-weight: 700;
}
.cell_head,.col_head
{
	color: #525252;
	font-size: 16px;
}
.reload
{
	background: rgba(255,255,255,.75);
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.reload img
{
	display: block;
	position: fixed;
}
.udacha
{
	font-size: 24px;
	font-weight: 700;
	margin-top: 40px;
	text-align: center;
}

.recent_changes{
	display: block;
	text-align: center;
	color: #fff;
	background: linear-gradient(to top, #12c709, #64ff59);
	height: 40px;
	border-radius: 18px;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 16px;
	padding-top: 10px;
	transition: 0.5s;
}

.recent_changes:hover{
	color: #fff;
	text-decoration: none;
	background: linear-gradient(to top, #1be811, #1ddc10);
}

.comments__list{
	margin-top: 40px;
}

.comments__list__item{
	padding: 20px 0;
	border-top: 1px dashed #000;
}

.comments__top{
	overflow: hidden;
	margin-bottom: 10px;
}

.comments__list__item__date{
	float: left;
	margin-right: 15px;
	font-size: 13px;
	margin-top: 4px;
	color: #3094de;
}

.comments__list__item__city{
	float: left;
	font-size: 13px;
	padding: 3px 10px;
	border-radius: 3px;
	color: #fff;
}

.comments__list__head{
    font-size: 22px;
    font-weight: bold;	
	margin-bottom: 10px;
}

.comments__list__item__name{
	margin-bottom: 5px;
}

.comments__list__item__text{
	font-size: 16px;
}

.city__green{
	background-color: #02e85e;
}

.city__blue{
	background-color: #02a8e8;
}

.city__orange{
	background-color: #e8b602;
}

.clear{
	clear: both;
}

.form-group-cell1{
	width: 49%;
	float: left;
}

.form-group-cell2{
	width: 49%;
	float: right;
}

.review__form textarea{
	resize: none;
	height: 150px;
}

@media (max-width:991px)
{
	.sidebar_menu
	{
		display: none;
	}
	.logo,.mobile_menu_float
	{
		display: block;
	}
	.logo
	{
		margin: 0 auto;
		width: 300px;
	}
	.flash
	{
		display: none;
	}
}
@media (max-width:767px)
{
	.navbar-nav
	{
		background-color: #337ab7;
		bottom: 0;
		left: -170px;
		margin-bottom: 0;
		margin-top: 0;
		padding: 10px 0;
		position: fixed;
		top: 0;
		width: 170px;
		z-index: 99;
	}
	.navbar-nav>li>a
	{
		color: #fff;
	}
	.navbar-nav,.show_menu
	{
		display: block;
	}
	.wrapper
	{
		padding-top: 6px;
	}
}

@media (max-width:480px){
	.form-group-cell1, .form-group-cell2{
		width: 100%;
		float: none;
	}
}